<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a designer &amp; developer living in Nairobi, Kenya.</p>
		<p>By day I work as a People's Ops / Engineer at CloudFactory, by night I work and learn how to design &amp; code web apps at <a href="#">DiGiT CLUB</a>.</p>
		<p>You can find me speaking in 140 characters on Facebook, retweeting some tweets on Twitter, and sharing some code on GitHub.</p>
	</div>

	<div class="col-2 homepage_content">
		<h2>Stuff I've written</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>

	<div class="col-3 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>
		<h3><a href="article_show.html">Podcast FM</a></h3>
		<p class="date">Friday January 21st</p>
		<h3><a href="article_show.html">DiGiT CLUB Community</a></h3>
		<p class="date">Friday January 21st</p>
		<h3><a href="article_show.html">Precious Plastic</a></h3>
		<p class="date">Friday January 21st</p>
	</div>
</div>